name: "Tests"
on: [pull_request]

jobs:
  tests:
    runs-on: [ default ]
    services:
      mariadb:
        image: mariadb:latest
        ports:
          - "3306:3306"
        env:
          MARIADB_USER: my_username
          MARIADB_PASSWORD: my_password
          MARIADB_DATABASE: heureka
          MARIADB_ROOT_PASSWORD: my_password
        options: --health-cmd="healthcheck.sh --connect --innodb_initialized" --health-interval=10s --health-timeout=5s --health-retries=3
      valkey:
        image: valkey/valkey:7.2
        ports:
          - "6379:6379"
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - "5432:5432"
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      openfga:
        image: openfga/openfga:latest
        env:
          OPENFGA_DATASTORE_ENGINE: postgres
          OPENFGA_DATASTORE_URI: postgres://postgres:password@postgres:5432/postgres?sslmode=disable
          OPENFGA_LOG_FORMAT: json
          OPENFGA_AUTHN_METHOD: preshared
          OPENFGA_AUTHN_PRESHARED_KEYS: test_token
        ports:
          - "8080:8080"
          - "8081:8081"
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Install Ginkgo
        run: go install github.com/onsi/ginkgo/v2/ginkgo
      - name: Install Mockery
        run: go install github.com/vektra/mockery/v2@v2.46.3
      - name: Generate Mockery code
        run: make mockery
      - name: Generate Gqlgen code
        run: make gqlgen
      - name: Run Tests
        env:
          DB_USER: my_username
          DB_PASSWORD: my_password
          DB_ROOT_PASSWORD: my_password
          DB_NAME: heureka
          DB_ADDRESS: localhost
          DB_PORT: 3306
          DB_SCHEMA: internal/database/mariadb/init/schema.sql
          LOCAL_TEST_DB: true
          AUTHZ_FGA_API_URL: http://localhost:8080
          AUTHZ_FGA_API_TOKEN: test_token
          AUTHZ_FGA_STORE_NAME: heureka_store
          AUTHZ_MODEL_FILE_PATH: ./internal/openfga/model/model.fga
        run: ginkgo -r -randomize-all -randomize-suites
